<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" />
    <link href="~/Content/bootstrap-grid.css" />
    <link href="~/Content/bootstrap-grid.min.css" />
    <link href="~/Content/bootstrap-reboot.css" />
    <link href="~/Content/bootstrap-reboot.min.css" />
    <link href="~/Content/bootstrap.min.css" />
    <link href="~/css/owl.carousel.css" />
    <link href="~/css/owl.theme.default.min.css" />
    <link href="~/css/tooplate-style.css" />
    <link href="~/css/font-awesome.min.css" />
    <link href="~/css/bootstrap-theme.min.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.slim.js"></script>
    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
